@media (max-height: 630px) {
  .hero {
    height: auto;
    padding: 44px 0;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .hero::before {
    right: -5%;
  }
  .navbar {
    padding: 0 30px;
  }
  .navbar__logo {
    top: 0;
  }
  .navbar__cta {
    width: calc(100% - 60px);
  }
  .dropdown {
    left: 30px;
    top: 4px;
  }
  .burger {
    right: 30px;
    top: 4px;
  }
  .hero::before {
    right: -50%;
  }
  .hero__content {
    align-items: center;
    flex-direction: row-reverse;
  }
  .hero__image {
    width: 50%;
  }
  .hero__block {
    width: 50%;
  }
  .card {
    width: calc(50% - 16px);
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 40px;
  }
  .navbar {
    align-items: center;
    padding: 0 40px;
    background: none;
    height: 64px;
  }
  .navbar.scroll {
      background: #f1f1f1;
      height: 44px;
  }
  .navbar__logo {
    width: fit-content;
    background: none;
    top: 0;
  }
  .navbar__menu {
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    height: 32px;
    bottom: 0;
  }
  .navbar__items {
    padding: 0 8px;
  }
  .navbar__cta {
    flex-direction: row;
    width: auto;
    position: relative;
    bottom: 0;
  }
  .navbar__cta .btn {
    width: fit-content !important;
  }
  .navbar__cta .btn:first-child {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .dropdown {
    position: relative;
    top: auto;
    left: auto;
    margin-left: 24px;
    padding-right: 4px;
  }
  .burger {
    display: none;
  }
  .hero__heading {
    font-size: 3.8em;
  }
  .hero__tagline {
    font-size: 1.1em;
  }
  .hero__desc {
    font-size: .9em;
  }
  .hero__cta {
    margin-top: 24px;
  }
  .card {
    width: calc(25% - 16px);
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 80px;
  }
  .navbar {
    align-items: center;
    padding: 0 80px;
    background: none;
  }
  .navbar__items {
    padding: 0 16px;
  }
  .hero__heading {
    font-size: 4.3em;
  }
  .hero__tagline {
    font-size: 1.2em;
  }
  .hero__desc {
    font-size: 1em;
  }
  .hero__cta {
    margin-top: 28px;
  }

  .btn--big {
    height: 40px;
  }
  .btn--play {
    width: 40px;
  }
  .btn--play::after {
    left: 48px;
  }
}