@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.w-100 {
  width: 100% !important;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1em;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1em;
}

.container {
  width: 100vw;
  padding: 0 16px;
  overflow: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 44px 0 0 0;
  height: 100vh;
}

.hero::before {
  content: url('../images/Decore.svg');
  position: absolute;
  width: 100%;
  right: 0;
  top: -12%;
  z-index: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 44px;
  background: #f1f1f1;
  padding: 6px 16px 16px 16px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 7;
  transition: 0.5s;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 44px;
  top: -6px;
  background: #f1f1f1;
  z-index: 8;
}

.navbar__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 86px;
  width: 100%;
  height: calc(100vh - 124px);
  z-index: 7;
}

.navbar__items {
  list-style: none;
  padding: 6.5px 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.navbar__items-link {
  text-decoration: none;
  color: #212832;
}

.navbar__cta {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  bottom: 46px;
  color: #212832;
  z-index: 7;
}

.navbar__cta .btn:first-child {
  margin-bottom: 8px;
}

.navbar.active {
  height: 100vh;
}

.navbar.active .navbar__cta {
  bottom: 16px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 20px;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;
  border-radius: 5px;
}

.btn--border {
  border: 1px solid #000;
}

.btn--solid {
  background: #f1a501;
  color: #fff;
}

.btn--play {
  position: relative;
  width: 32px;
  padding: 0;
  background: #df6951;
  color: #fff;
  border-radius: 50%;
  z-index: 1;
}

.btn--play::after {
  content: 'Play Demo';
  position: absolute;
  font-size: .8em;
  text-transform: none;
  left: 38px;
  white-space: nowrap;
  color: #000;
  z-index: 1;
}

.dropdown {
  position: absolute;
  height: 32px;
  text-transform: uppercase;
  background: none;
  border: none;
  left: 16px;
  z-index: 9;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 9;
}

.burger__items {
  position: relative;
  width: 100%;
  height: 3.5px;
  background: #000;
  border-radius: 3.5px;
  transition: 0.5s;
}

.burger__items::before {
  top: -10px;
}

.burger__items::after {
  top: 10px;
}

.burger__items::before {
  content: '';
  position: absolute;
  display: block;
  width: 80%;
  height: 3.5px;
  background: #000;
  border-radius: 3.5px;
  right: 0;
  transition: 0.5s;
}

.burger__items::after {
  content: '';
  position: absolute;
  display: block;
  width: 90%;
  height: 3.5px;
  background: #000;
  border-radius: 3.5px;
  right: 0;
  transition: 0.5s;
}

.burger.active .burger__items {
  background: #00000000;
}

.burger.active .burger__items::after {
  top: 0;
  transform: rotate(45deg);
}

.burger.active .burger__items::before {
  top: 0;
  transform: rotate(135deg);
}

.hero__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
}

.hero__image {
  text-align: center;
  width: 70%;
  margin-bottom: 16px;
}

.hero__image img {
  max-width: 100%;
}

.hero__heading {
  font-family: 'Volkhov', serif;
  font-size: 2.8em;
  margin: 16px 0;
}

.hero__tagline {
  font-size: .8em;
  text-transform: uppercase;
}

.hero__desc {
  width: 80%;
  font-size: .6em;
}

.hero__cta {
  display: flex;
  margin-top: 16px;
}

@media (max-height: 630px) {
  .hero {
    height: auto;
    padding: 44px 0;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .hero::before {
    right: -5%;
  }
  .navbar {
    padding: 0 30px;
  }
  .navbar__logo {
    top: 0;
  }
  .navbar__cta {
    width: calc(100% - 60px);
  }
  .dropdown {
    left: 30px;
    top: 4px;
  }
  .burger {
    right: 30px;
    top: 4px;
  }
  .hero::before {
    right: -50%;
  }
  .hero__content {
    align-items: center;
    flex-direction: row-reverse;
  }
  .hero__image {
    width: 50%;
  }
  .hero__block {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 40px;
  }
  .navbar {
    align-items: center;
    padding: 0 40px;
    background: none;
  }
  .navbar__logo {
    width: fit-content;
    top: 0;
  }
  .navbar__menu {
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    height: 32px;
    bottom: 0;
  }
  .navbar__items {
    padding: 0 8px;
  }
  .navbar__cta {
    flex-direction: row;
    width: auto;
    position: relative;
    bottom: 0;
  }
  .navbar__cta .btn {
    width: fit-content !important;
  }
  .navbar__cta .btn:first-child {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .dropdown {
    position: relative;
  }
  .burger {
    display: none;
  }
  .hero__heading {
    font-size: 3.8em;
  }
  .hero__tagline {
    font-size: 1.1em;
  }
  .hero__desc {
    font-size: .9em;
  }
  .hero__cta {
    margin-top: 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 80px;
  }
  .navbar {
    align-items: center;
    padding: 0 80px;
    background: none;
  }
  .navbar__items {
    padding: 0 16px;
  }
  .hero__heading {
    font-size: 4.3em;
  }
  .hero__tagline {
    font-size: 1.2em;
  }
  .hero__desc {
    font-size: 1em;
  }
  .hero__cta {
    margin-top: 28px;
  }

  .btn--big {
    height: 40px;
  }
  .btn--play {
    width: 40px;
  }
  .btn--play::after {
    left: 48px;
  }
}